body{
    margin:0;
    padding: 0;
}

header{
    display: flex;
    gap: 4rem;
    max-width: 100%;
    padding: 0;
    padding-left: 2em;
    padding-bottom: 4em;
}

header img{
    max-width: 100%;
}

header p{
    font-family: monospace;
    font-size: 2em;
    margin-top: 2em;
}

.features{
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 100%;
    padding: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.feature{
    flex: 1;
    font-size: 1.5em;
    text-align: center;
    padding: 0.5em;
}

.feature.left{
    border-right: 1px solid;
}

.feature.right{
    border-left: 1px solid;
}

.section {
    display: flex;
    gap: 1rem;
    max-width: 80%;
    margin: 2rem auto;
    padding: 2em;
    background-color:whitesmoke;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
    font-size: 2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.section-item {
    flex: 1;
}

section img{
    max-width: 100%;
}

nav{
    height: 4em;
    border-bottom: solid 2px;
}

nav ul {
    font-size: 2em;
  }
  
nav li {
    float: left;
    display: flex;
    text-align: center;
    padding-left: 2em;
}


footer{
    display: flex;
    gap: 1rem;
    max-width: 100%;
    padding: 1em;
    border-top: 1px solid;
    background-color: red;
}

.foot-note{
    flex: 1;
    font-size: 1.5em;
    padding: 0.5em;
}

.foot-note.left{
    border-right: 1px solid;
}

.foot-note.right{
    border-left: 1px solid;
}

.more-details{
  display: flex;
  justify-content: center;
}

.button{
  display: inline-block;
  background-color: red;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: fantasy;
}

.project-img{
    max-width: 60%;
    border-radius: 50%;
}

footer img{
    max-width: 80%;
    padding-left: 2em;
}

.logo.links{
    padding-left: 2em;
    align-items: center;
}
  
.logo a {
    float: left;
    display: flex;
    text-align: center;
    padding-left: 2em;
    color: aliceblue;
}

.headings a{
    float: left;
    display: flex;
    text-align: center;
    padding: 1em;
    color: red;
    margin-left: 0;
    font-size: 1.5em;
}

.heading-links{
    max-width: 1em;
}
